@import "../general";

.additional {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  width: 280px;
  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px 0 30px;
  }
  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px 87px 110px;
  }
}

.additional__products {
  padding: 25px 0 19px 0;
  margin: 0;
  @media (min-width: $tablet-width) {
    padding: 70px 0 0 0;
  }
  @media (min-width: $desktop-width) {
    padding-top: 76px;
  }
}

.additional__title {
  color: #000000;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-bottom: 36px;
  position: relative;
  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
  }
  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.additional__title::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 280px;
    position: absolute;
    background-color: #cdcdcd;
    top: 60px;
    left: 0;
  }
}
.additional__container-desktop {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;

  }
}
.additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  @media (min-width: $tablet-width) {
    padding: 0 38px;
    margin-top: 80px;
    border: 1px solid #cdcdcd;
    width: 632px;
  }
  @media (min-width: $desktop-width) {
    border: none;
    width: 895px;
    padding: 0;
  }
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
  position: relative;
  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
    width: 895px;
    padding-top: 15px;
    padding-bottom: 17px;
    border-top: 1px solid #cdcdcd;
  }
}
.additional__item:last-child {
  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #cdcdcd;
  }
  }
.additional__item-block {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: $desktop-width) {
    width: 610px;
  }
}

.additional__title-product {
  color: #222222;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 13px;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 25px;
    position: relative;
  }
  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.additional__title-product::before {
  @media (min-width: $tablet-width) {
    content: "";
    height: 1px;
    width: 707px;
    position: absolute;
    background-color: #cdcdcd;
    top: -26px;
    left: -38px;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.additional__wrapper {
  display: flex;
  justify-content: space-between;
  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.additional__description {
  color: #444444;
  text-align: start;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__description-price {
  color: #444444;
  text-align: end;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-left: 55px;
  }
}

.additional__choose {
  margin-top: 15px;
  position: relative;
  @media (min-width: $tablet-width) {
    width: 632px;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
  }
}

.additional__choose::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 280px;
    position: absolute;
    background-color: #cdcdcd;
    top: 60px;
    left: 0;
  }
}
