@import "../general";

.advantages {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    padding: 0;
  }
}

.advantages__wrapper {

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }
}

.advantages__item {
  max-width: 280px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    padding: 77px 0 57px 53px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    padding: 77px 61px 59px 52px;
    margin: 0;
  }
}

.advantages__item:last-child {

  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.advantages__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
  }
}

.advantages__title--slim::before {

  @media (max-width: $mobile-width-only) {
    content: '';
    position: absolute;
    background-image: url("../../images/cat-sitting.png");
    background-repeat: no-repeat;
    height: 53px;
    width: 50px;
    padding-right: 20px;
    left: 20px;
    top: 20px;
  }
}

.advantages__title--slim::after {

  @media (min-width: $tablet-width) {
    content: '';
    position: absolute;
    background-image: url("../../images/cat-sitting-tablet.png");
    background-repeat: no-repeat;
    height: 211px;
    width: 200px;
    padding-right: 20px;
    left: 450px;
    top: 80px;
  }

  @media (min-width: $desktop-width) {
    content: '';
    position: absolute;
    background-image: url("../../images/cat-sitting-desctop.png");
    background-repeat: no-repeat;
    height: 100px;
    width: 106px;
    padding-right: 20px;
    left: 52px;
    top: 41px;
  }
}

.advantages__title--pro::before {

  @media (max-width: $mobile-width-only) {
    content: '';
    position: absolute;
    background-image: url("../../images/cat-go-mobile.png");
    background-repeat: no-repeat;
    height: 53px;
    width: 67px;
    padding-right: 20px;
    left: 13px;
    top: 25px;
  }
}

.advantages__title--pro::after {

  @media (min-width: $tablet-width) {
    content: '';
    position: absolute;
    background-image: url("../../images/cat-go-tablet.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 268px;
    padding-right: 20px;
    left: 410px;
    top: 95px;
  }

  @media (min-width: $desktop-width) {
    content: '';
    position: absolute;
    background-image: url("../../images/cat-go-desctop.png");
    background-repeat: no-repeat;
    height: 100px;
    width: 134px;
    padding-right: 20px;
    left: 33px;
    top: 47px;
  }
}

.advantages__description {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  max-width: 227px;
  margin: 0;
  padding-top: 29px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    padding-top: 24px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    max-width: 457px;
    padding-bottom: 0;
  }
}

.advantages__description::after {

  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 240px;
    position: absolute;
    background-color: #d9d9d9;
    left: 0;
    top: 140px;
  }
}

.advantages__catalog {
  position: relative;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 42px;
  display: block;
  text-align: start;

  &:hover::after {
    background-image: url("../../images/catalog/arrow-long.png");
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-left: 4px;
  }

  &:active {
    opacity: 30%;
  }
}

.advantages__catalog::after {
  content: '';
  position: absolute;
  background-image: url("../../images/catalog/arrow-small.png");
  background-size: 32px 10px;
  width: 32px;
  height: 10px;
  top: 45px;
  left: 100px;

  @media (min-width: $tablet-width) {
    top: 3px;
    left: 135px;
  }

  @media (min-width: $desktop-width) {
    top: 38px;
    left: 133px;
  }
}
