@import "../general";

.all-product {

  @media (max-width: $mobile-width-only) {
    padding: 10px 0 25px 0;
    position: relative;
  }
}

.all-product::before {

  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #ebebeb;
    top: 0;
    left: -20px;
  }
}

.all-product__choose::after {

  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #ebebeb;
    left: -20px;
    bottom: -25px;
  }
}

.all-product__list {
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 320px;
    height: 443px;
    border: 1px solid #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    max-height: 460px;
  }
}

.all-product__wrapper {

  @media (min-width: $tablet-width) {
    padding: 39px 36px 85px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 20px 70px 28px;
  }
}

.all-product__more-products {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin: 6px auto 23px auto;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin: 11px auto 49px auto;
  }
}

.all-product__more-products:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  top: 15px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 60px;
    top: 30px;
  }
}

.all-product__more-products:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  top: 15px;
  left: 0;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    width: 60px;
    top: 30px;
  }
}

.all-product__title {
  color: #111111;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 134px;
    margin: 0 auto;
  }
}

.all-product__description {
  color: #444444;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    padding-top: 23px;
    margin: 0 auto;
  }
}

.all-product__page {

  @media (min-width: $desktop-width) {
    display: block;
    padding-bottom: 40px;
  }
}

.all-product__choose {
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    color: #444444;
    background-color: #ebebeb;
  }

  &:active {
    color: #444444;
    background-color: #ebebeb;
  }
}
