@import "../general";

.catalog {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  width: 280px;
  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px 0 30px;
  }
  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px 0 110px;
  }
}

.catalog__title {
  color: #000000;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 0 0;
  position: relative;
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
  }
  @media (min-width: $desktop-width) {
    padding-top: 25px;
  }
}

.catalog__title::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #d9d9d9;
    top: 2px;
    left: -20px;
  }
}

.catalog__list {
  margin: 0;
  list-style-type: none;
  padding: 41px 0 0 0;
  @media (min-width: $tablet-width) {
    padding-top: 95px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: flex-end;
  }
  @media (min-width: $desktop-width) {
    padding-top: 90px;
    width: 1220px;
    gap: 73.3px;
  }
}
