@import "../general";

.company-address {
  width: 100%;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.company-address__position {
  background-color: #f2f2f2;
}

.company-address__catalog {

  @media (min-width: $desktop-width) {
    max-width: 565px;
    z-index: 4;
    background-color: #ffffff;
    padding: 61px 78px 60px 80px;
    gap: 87px;
    top: 1966px;
    left: 260px;
  }
}

.company-address__wrapper {
  margin: 0 auto;
  width: 280px;
  padding: 26px 20px 26px 20px;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    justify-content: space-between;
    width: 628px;
    gap: 308px;
  }

  @media (min-width: $desktop-width) {
    max-width: 410px;
    position: absolute;
    z-index: 4;
    background-color: #ffffff;
    padding: 61px 78px 50px 80px;
    gap: 87px;
    top: 90px;
    left: 248px;
  }
}

.company-address__title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 163px;
    padding-top: 3px;
  }
}

.company-address__description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    max-width: 157px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.company-address__city {

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}

.company-address__maps {
  background-image: url("../../images/maps/location-mobile.png");
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 362px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/maps/location-mobile2x.png");
    width: 100%;
    height: 362px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../images/maps/location-tablet.png");
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/maps/location-tablet2x.png");
      width: 100%;
      height: 400px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/maps/location-desktop.png");
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/maps/location-desktop2x.png");
      width: 100%;
      height: 400px;
    }
  }
}
