@import "../general";

.example {
  background-color: #eaeaea;
  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, #ffffff 57%, #f2f2f2 57%, #f2f2f2 100%);
  }
  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, #ffffff 20%, #f2f2f2 20%);
  }
}

.example__position {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px 0 20px;
  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px 0 30px;
  }
  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 110px 0 110px;
    position: relative;
  }
}

.example__main-title {
  color: #000000;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding-top: 50px;
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 7px;
  }
  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 224px;
  }
}

.example__description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding-top: 40px;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 60px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 146px;
    max-width: 436px;

  }
}

.example__description-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    max-width: 430px;
    gap: 55px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  padding: 20px 0 0 0;
  @media (min-width: $tablet-width) {
    padding-top: 55px;
    gap: 43px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 68px;
  }
}

.example__item {
  @media (max-width: $mobile-width-only) {
    background-image: url("../../images/frame-mobile.svg");
    background-repeat: no-repeat;
    width: 124px;
  }
  @media (min-width: $tablet-width) {
    background-image: url("../../images/frame.svg");
    background-repeat: no-repeat;
    min-width: 165px;
  }
}

.example__item-title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-top: 14px;
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
  }
}

.example__item-description {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  max-width: 77px;
  margin: 0;
  padding-top: 8px;
  padding-left: 22px;
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    max-width: 125px;
    padding-top: 11px;
    padding-left: 18px;
    margin: 0;
  }
}

.example__title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;
  @media (max-width: $mobile-width-only) {
    display: flex;
    gap: 5px;
    width: 250px;
    margin-left: 46px;
  }
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    width: 174px;
    align-self: center;
    padding-top: 66px;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 63px;
    width: 500px;
    padding-bottom: 75px;
    padding-top: 0;
    padding-left: 5px;
  }
}

.example__title-price {
  margin: 0;
  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 0;
  }
}

.example__images {
  @media (min-width: $tablet-width) {
    padding-top: 99px;
  }
  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
