@import "../general";

.main-footer {
  width: 100%;
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 40px 20px 40px 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 63px 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 66px 110px;
  }
}

.main-footer__logo::after {

  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 280px;
    position: absolute;
    background-color: #d9d9d9;
    left: 40px;
  }
}

.main-footer__logo-image {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: auto;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-footer__social {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-items: center;
  }
}

.main-footer__social::after {

  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 280px;
    position: absolute;
    background-color: #d9d9d9;
    bottom: -20px;
  }
}

.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__list a[href]:hover .social_icons {
  fill: #68b738;
}

.social__item {
  margin-left: 26px;
  position: relative;
}

.social__item:first-child {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 43px;
  }
}

.social_icons {
  fill: #666666;
}

.main-footer__copyright {
  padding: 20px 0 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright {

  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media (max-width: $mobile-width-only) {
    width: 280px;
  }

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}

.copyright__website {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 8px;
    padding-bottom: 3px;
  }
}

.copyright__link:hover {
  fill: #68b738;
}

.copyright__link:active {
  fill: #68b738;
  opacity: 30%;
}

.copyright__image:hover {
  fill: #68b738;
}
