@import "../general";

.product {
  padding: 20px 0 25px 0;
  position: relative;
  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 324px;
    background: linear-gradient(to bottom, #ffffff 5%, #f2f2f2 5%);
  }
}

.product::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #ebebeb;
    top: 0;
    left: -20px;
  }
}

.product__list {
  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 140px 140px;
    margin-bottom: 17px;
  }
  @media (min-width: $tablet-width) {
    padding: 0 37px 40px 37px;
    min-width: 250px;
    min-height: 389px;
  }
  @media (min-width: $desktop-width) {
    max-width: 245px;
    padding: 0;
  }
}

.product__page {
  text-decoration: none;
}

.product__image-product {
  display: block;
  margin: auto;
}

.product__wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }
  @media (min-width: $desktop-width) {
    max-width: 169px;
    padding-left: 38px;
  }
}

.product__title-product {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 14px 0;
  max-width: 80px;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 135px;
    text-align: center;
    margin: 0 auto;
  }
}

.product__table-list {
  margin: 0;
  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}

.product__table-item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.product__table-info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.product__table-info::after {
  @media (min-width: $tablet-width) {
    content: "";
    height: 1px;
    width: 169px;
    position: absolute;
    background-color: #cdcdcd;
    top: 25px;
  }
}

.product__table-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin: 0;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__table-meaning {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin: 0;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__choose {
  background-color: #68b738;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  @media (min-width: $tablet-width) {
    width: 250px;
    align-self: end;
    margin-bottom: 40px;
    margin-left: 37px;
  }
  @media (min-width: $desktop-width) {
    width: 169px;

  }
}

.all-product {
  @media (max-width: $mobile-width-only) {
    padding: 25px 0 25px 0;
    position: relative;
  }
}

.all-product::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #ebebeb;
    top: 0;
    left: -20px;
  }
}

.all-product__choose::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #ebebeb;
    left: -20px;
    bottom: 0;
  }
}

.all-product__list {
  @media (min-width: $tablet-width) {
    min-width: 320px;
    min-height: 429px;
    border: 1px solid #f2f2f2;
  }
  @media (min-width: $desktop-width) {
    min-width: 245px;
    max-height: 440px;
  }
}

.all-product__wrapper {
  @media (min-width: $tablet-width) {
    padding: 110px 20px 82px 20px;
  }
  @media (min-width: $desktop-width) {
    padding: 70px 20px 82px 20px;
  }
}

.all-product__more-products {
  display: block;
  margin: 0 auto;
}

.all-product__title {
  color: #111111;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 23px;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-top: 50px;
    max-width: 134px;
    margin: 0 auto;
  }
}

.all-product__description {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 25px;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    padding-top: 23px;
    margin: 0 auto;
  }
}

.all-product__choose {
  color: #444444;
  background-color: #f2f2f2;
}
