@import "../general";

.product-function {
  margin: 0 auto;
  width: 320px;
  padding: 0 20px 0 20px;
  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px 0 30px;
  }
  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 110px 0 110px;
  }
}

.product-function__wrapper {
  padding: 0;
  margin: 0;
}

.product-function__title {
  color: #000000;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  padding: 20px 0 0 0;
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.product-function__list {
  list-style-type: none;
  @media (max-width: $mobile-width-only) {
    padding: 40px 0 0 0;
    margin: 0;
    position: relative;
  }
  @media (min-width: $tablet-width) {
    padding: 32px 0 47px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: $desktop-width) {
    padding: 32px 0 69px 0;
  }
}

.product-function__item {
  margin-bottom: 26px;
  padding-left: 80px;
  @media (min-width: $tablet-width) {
    position: relative;
    min-width: 230px;
    min-height: 280px;
    padding: 0;
    margin-bottom: 37px;
  }
}

.product-function__item--useful {
  @media (min-width: $tablet-width) {
    background-image: url("../../images/number-one.png");
    background-repeat: no-repeat;
    background-position: bottom 20px right 50px;
  }
}

.product-function__item--useful::before {
  content: '';
  position: absolute;
  background-image: url("../../images/icon-useful.svg");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  left: 0;
  top: 35px;
  @media (min-width: $tablet-width) {
    background-image: url("../../images/icon-useful-desctop.png");
    top: 31px;
    height: 80px;
    width: 80px;
  }
}

.product-function__item--water {
  @media (min-width: $tablet-width) {
    background-image: url("../../images/number-two.png");
    background-repeat: no-repeat;
    background-position: bottom 20px right 10px;
  }
}

.product-function__item--water::before {
  content: '';
  position: absolute;
  background-image: url("../../images/icon-water.svg");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  left: 0;
  top: 115px;
  @media (min-width: $tablet-width) {
    background-image: url("../../images/icon-water.png");
    top: 31px;
    height: 80px;
    width: 80px;
  }
}

.product-function__item--eat {
  @media (min-width: $tablet-width) {
    background-image: url("../../images/number-three.png");
    background-repeat: no-repeat;
    background-position: bottom 20px right 10px;
  }
}

.product-function__item--eat::before {
  content: '';
  position: absolute;
  background-image: url("../../images/icon-eat.svg");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  left: 0;
  top: 195px;
  @media (min-width: $tablet-width) {
    background-image: url("../../images/icon-eat-desctop.png");
    top: 31px;
    height: 80px;
    width: 80px;
  }
}

.product-function__item--time {
  @media (min-width: $tablet-width) {
    background-image: url("../../images/number-four.png");
    background-repeat: no-repeat;
    background-position: bottom 20px right 10px;
  }
}

.product-function__item--time::before {
  content: '';
  position: absolute;
  background-image: url("../../images/icon-time.svg");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  left: 0;
  top: 275px;
  @media (min-width: $tablet-width) {
    background-image: url("../../images/icon-time-desctop.png");
    top: 31px;
    height: 80px;
    width: 80px;
  }
}

.product-function__description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 245px;
    padding: 151px 0 57px 0;
  }
}
