@import "../general";

.product {
  padding: 20px 0 31px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 324px;
    height: 511px;
    background: linear-gradient(to bottom, #ffffff 13%, #f2f2f2 13%);
  }

  @media (min-width: $desktop-width) {
    height: 508px;
  }
}

.product::before {

  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #ebebeb;
    top: 0;
    left: -20px;
  }
}

.product__list {

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 140px 140px;
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 37px 0 37px;
    min-width: 250px;
    min-height: 389px;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    padding: 0;
  }
}

.product__page {
  text-decoration: none;
}

.product__image-product {
  display: block;
  margin: auto;
}

.small-pack {

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 13px;
  }
}

.product__wrapper {

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 169px;
    padding-top: 20px;
    padding-left: 44px;
  }
}

.product__title-product {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 14px 0;
  max-width: 80px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 135px;
    text-align: center;
    margin: 0 auto;
  }
}

.product__table-list {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 42px;
  }
}

.product__table-item {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

.product__table-info {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product__table-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__table-meaning {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__choose {
  background-color: #68b738;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 250px;
    align-self: end;
    margin-bottom: 40px;
    margin-left: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.all-product {

  @media (max-width: $mobile-width-only) {
    padding: 10px 0 25px 0;
    position: relative;
  }
}

.all-product::before {

  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #ebebeb;
    top: 0;
    left: -20px;
  }
}

.all-product__choose::after {

  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #ebebeb;
    left: -20px;
    bottom: -25px;
  }
}

.all-product__list {
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 320px;
    height: 443px;
    border: 1px solid #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    max-height: 460px;
  }
}

.all-product__wrapper {

  @media (min-width: $tablet-width) {
    padding: 39px 36px 85px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 20px 70px 28px;
  }
}

.all-product__more-products {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin: 6px auto 23px auto;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin: 11px auto 49px auto;
  }
}

.all-product__more-products:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  top: 15px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 60px;
    top: 30px;
  }
}

.all-product__more-products:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  top: 15px;
  left: 0;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    width: 60px;
    top: 30px;
  }
}

.all-product__title {
  color: #111111;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 134px;
    margin: 0 auto;
  }
}

.all-product__description {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    padding-top: 23px;
    margin: 0 auto;
  }
}

.all-product__page {

  @media (min-width: $desktop-width) {
    display: block;
    padding-bottom: 40px;
  }
}

.all-product__choose {
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    color: #444444;
    background-color: #ebebeb;
  }

  &:active {
    color: #444444;
    background-color: #ebebeb;
  }
}
