@import "../general";

.product-function {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 110px 0 110px;
  }
}

.product-function__wrapper {
  padding: 0;
  margin: 0;
}

.product-function__title {
  color: #000000;
  text-align: start;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  padding: 25px 0 0 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
  }
}

.product-function__list {
  list-style-type: none;
  counter-reset: section;

  @media (max-width: $mobile-width-only) {
    padding: 43px 0 0 0;
    margin: 0;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 0 47px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 246px);
    grid-template-rows: 280px;
    row-gap: 37px;
    column-gap: 78px;
    padding-bottom: 70px;
  }
}

.product-function__item {
  margin-bottom: 26px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    position: relative;
    min-width: 325px;
    min-height: 280px;
    padding: 0;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    min-width: 230px;
    position: relative;
  }
}

.product-function__item::after {

  @media (min-width: $tablet-width) {
    counter-increment: section;
    content: counter(section) " ";
    position: absolute;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    color: #f2f2f2;
    top: 2px;
    left: 115px;
    z-index: -2;
  }
}

.product-function__item--useful::before {
  content: '';
  position: absolute;
  background-image: url("../../images/icon-useful.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  left: 0;
  top: 40px;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/icon-useful-desctop.png");
    top: 41px;
    height: 80px;
    width: 80px;
  }
}

.product-function__item--water::before {
  content: '';
  position: absolute;
  background-image: url("../../images/icon-water.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  left: 0;
  top: 115px;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/icon-water-desctop.png");
    top: 41px;
    height: 80px;
    width: 80px;
  }
}

.product-function__item--eat::before {
  content: '';
  position: absolute;
  background-image: url("../../images/icon-eat.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  left: 0;
  top: 195px;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/icon-eat-desctop.png");
    top: 41px;
    height: 80px;
    width: 80px;
  }
}

.product-function__item--time::before {
  content: '';
  position: absolute;
  background-image: url("../../images/icon-time.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  left: 0;
  top: 275px;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/icon-time-desctop.png");
    top: 41px;
    height: 80px;
    width: 80px;
  }
}

.product-function__description {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 245px;
    padding: 153px 0 57px 0;
  }
}
