@import "../general";

.product {
  padding: 20px 0 31px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 324px;
    height: 511px;
    background: linear-gradient(to bottom, #ffffff 13%, #f2f2f2 13%);
  }

  @media (min-width: $desktop-width) {
    height: 508px;
  }
}

.product::before {

  @media (max-width: $mobile-width-only) {
    content: "";
    height: 1px;
    width: 320px;
    position: absolute;
    background-color: #ebebeb;
    top: 0;
    left: -20px;
  }
}

.product__list {

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 140px 140px;
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 37px 0 37px;
    min-width: 250px;
    min-height: 389px;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    padding: 0;
  }
}

.product__page {
  text-decoration: none;
}

.product__image-product {
  display: block;
  margin: auto;
  object-fit: cover;
}

.small-pack {

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 13px;
  }
}

.product__wrapper {

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 169px;
    padding-top: 20px;
    padding-left: 44px;
  }
}

.product__title-product {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 14px 0;
  max-width: 80px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 135px;
    text-align: center;
    margin: 0 auto;
  }
}

.product__table-list {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 42px;
  }
}

.product__table-item {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

.product__table-info {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product__table-description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__table-meaning {
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__choose {
  background-color: #68b738;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 250px;
    align-self: end;
    margin-bottom: 40px;
    margin-left: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
