@import "../general";

.slider {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.slider__list {
  position: relative;
  padding: 0;
  list-style-type: none;
  height: 256px;
  width: 280px;
  margin: 20px 0 40px 0;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin: 0 0 90px 0;
  }
}

.slider__item:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider__item:last-child {
  height: 256px;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.slider__img-cat-before {
  position: relative;
  width: 140px;
  height: 256px;
  margin-right: auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.slider__cat-before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.slider__img-cat-after {
  width: 140px;
  height: 256px;
  position: relative;
  margin-left: auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.slider__cat-after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.slider__button {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 125px;
  z-index: 4;

  @media (min-width: $tablet-width) {
    top: 350px;
  }

  @media (min-width: $desktop-width) {
    top: 235px;
  }

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #5eaa2f;
  }
}


.slider__strip {
  position: absolute;
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: #666666;
  top: -105px;
  left: 25px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    height: 512px;
    top: -250px;
  }

  @media (min-width: $desktop-width) {
    top: -230px;
  }

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #5eaa2f;
  }
}

.slider__toggle {
  z-index: 6;
}
