@import "../general";

.stats-form {
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }
}

.stats-form__title {
  text-align: start;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
  }
}

.stats-form__description {
  text-align: start;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 226px;
  margin: 0;
  padding-top: 37px;
  padding-bottom: 39px;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 323px;
    padding-top: 54px;
  }
}
