@import "../general";

.stats {
  @media (max-width: $mobile-width-only) {
    background-image: linear-gradient(#68b738d9 100%, transparent 85%),
    url("../../images/cat-background-desktop.png");
    background-repeat: no-repeat;
    background-size: 320px 302px;
  }
  @media (min-width: $tablet-width) {
    padding: 0 30px 526px 120px;
    position: relative;
  }
  @media (min-width: $desktop-width) {
    padding: 110px 0 290px 190px;
  }
}

.stats__main-title {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    text-align: left;
  }
}

.stats__main-title::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(#68b738d9 100%, transparent 85%),
  url("../../images/cat-desktop-index.png");
  background-repeat: no-repeat;
  background-size: 720px 694px;
  width: 720px;
  height: 694px;
  top: -100px;
  left: 750px;
  z-index: -1;
}

.stats__title {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 25px;
  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    padding-top: 40px;
    text-align: left;
  }
}

.stats__product-presentation {
  padding-top: 29px;
  display: block;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    position: absolute;
    padding-top: 21px;
    width: 400px;
    height: 350px;
    z-index: -1;
    left: 230px;
    top: 220px;
  }
  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    left: 610px;
    top: 20px;
  }
}

.stats__choose-program {
  background-color: #68b738;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  width: 88%;
  cursor: pointer;
  margin-left: 20px;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 260px;
    padding: 14px 26px;
    margin: 50px 0 0 0;
  }
  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}
