.stats-form {
  padding: 0 20px;
}

.stats-form__title {
  text-align: start;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
}

.stats-form__description {
  text-align: start;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 226px;
  margin: 0;
  padding-top: 37px;
  padding-bottom: 39px;
}
