@import "../general";

.stats {
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    background-image: linear-gradient(#68b738d9 100%, transparent 85%),
      url("../../images/cat-background-desktop.png");
    background-repeat: no-repeat;
    background-size: 320px 300px;
    width: 320px;
    object-fit: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(#68b738d9 100%, transparent 85%),
        url("../../images/cat-background-desktop@2x.png");
      background-size: 320px 300px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    position: relative;
  }
}

.stats__position {

  @media (min-width: $tablet-width) {
    padding: 0 30px 505px 120px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 265px 190px;
  }
}

.stats__main-title {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    text-align: left;
  }
}

.stats__title {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    padding-top: 40px;
    text-align: left;
  }
}

.stats__product-presentation {
  padding-top: 29px;
  display: block;
  margin: 0 auto;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    position: absolute;
    padding-top: 21px;
    z-index: -1;
    left: 30px;
    top: 180px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    left: 560px;
    top: -45px;
  }
}

.stats__choose-program {
  background-color: #68b738;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  width: 88%;
  cursor: pointer;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 245px;
    padding: 14px 26px;
    margin: 50px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

}
