@import "general";
@import "blocks/main-header";
@import "blocks/main-container";
@import "blocks/stats";
@import "blocks/advantages";
@import "blocks/product-function";
@import "blocks/example";
@import "blocks/company-address";
@import "blocks/main-footer";
@import "blocks/catalog";
@import "blocks/product";
@import "blocks/additional";
@import "blocks/information";
@import "blocks/stats-form";
@import "blocks/order-form";
